:root {
	--default: #000;
	--primary: #3f90fc;
	--yellow: #ffbd3e;
	--orange: #ff7044;
	--blue: #421fcf;
}

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: var(--default);
	background: #f8fafc;
	position: relative;
}

/* ************** HEADER */
.btn {
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	border-radius: 6px;
	padding: 13px 44px;
}
.btn.btn-primary {
	background: var(--primary);
	color: #fff;
	border-color: var(--primary);
}
.btn.btn-dark {
	background: #434141;
	color: #fff;
	border-color: #434141;
}

.navbar-light .navbar-nav .nav-link {
	color: #0b0b0b;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: var(--primary);
}

/* ************** HOME */
.vn-home:before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 500px;
	z-index: -1;

	background: linear-gradient(to bottom, rgb(255 255 255 / 85%), rgb(255 255 255 / 85%)),
		url(/static/media/home-bg.7a48b185.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.vn-works-search h2 {
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	text-transform: uppercase;
}

.vn-works-search .form-group {
	display: flex;
	max-width: 616px;
	margin: 0 auto;
	position: relative;
	max-width: 470px;
}
.vn-works-search .form-control {
	background: #fbfbfb;
	border: 1px solid #d6d6d6;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 5px 15px;
}

.vn-works-search .form-control,
.vn-works-search .btn {
	height: 50px;
}

.vn-works-search .btn {
	position: absolute;
	right: 0;
	border-radius: 0px 8px 8px 0px;
}

.vn-works-card {
	position: relative;
	margin: 15px 0;
	border-radius: 12px;
	transition: 0.4s ease;
}

.vn-works-card:hover {
	box-shadow: 0px 5px 20px 5px rgb(63 144 252 / 34%);
	transform: translateY(-4px);
}
.vn-works-card h4 {
	position: absolute;
	bottom: 0;
	color: #fff;
	width: 100%;
	height: 80px;
	margin: 0;
	border-radius: 0px 0px 10px 10px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}

.vn-works-card img {
	border-radius: 10px 10px 12px 12px;
	max-width: 100%;
	object-fit: cover;
}

[class^="col-"]:nth-child(2n-1) .vn-works-card h4 {
	background: var(--yellow);
}
[class^="col-"]:nth-child(2n) .vn-works-card h4 {
	background: var(--orange);
}
[class^="col-"]:nth-child(3n) .vn-works-card h4 {
	background: var(--primary);
}
[class^="col-"]:nth-child(4n) .vn-works-card h4 {
	background: var(--blue);
}
[class^="col-"]:nth-child(5n) .vn-works-card h4 {
	background: var(--orange);
}

/* ************** LOGIN */
.vn-login-register.login {
	height: 457px;
}
.vn-login-register {
	background: #ffffff;
	border: 1px solid #ababab;
	box-sizing: border-box;
	border-radius: 4px;
	text-align: center;
	width: 570px;

	padding: 55px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.btn.social-login {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #000;
	width: 100%;
	display: grid;
	align-items: center;
	justify-items: flex-start;
	grid-auto-flow: column;
	position: relative;
	padding: 10px 9px;
	background: #ffffff;
	border: 1px solid #c7c7c7;
	box-sizing: border-box;
	border-radius: 57px;
	height: 51px;
}

.vn-login-register h4 {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}

.vn-login-register h5 {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}

.vn-login-register h5 a {
	margin-left: 5px;
	text-decoration: underline;
	text-decoration-color: #a0c9ff;
	color: var(--primary);
}

/* ************** REGISTER */
.vn-login-register.register {
	align-items: stretch;
	text-align: left;
}

.vn-login-register.register .form-control,
.vn-login-register.register .form-control::placeholder {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}

.vn-login-register.register .form-control {
	border: none;
	border-bottom: 1px solid #c5c5c5;
	border-radius: 0;
	padding-left: 0;
	padding-right: 0;
}

.vn-login-register.register .btn.btn-primary {
	border-radius: 0;
	width: 100%;
	margin-top: 30px;
}

.vn-login-register.register .form-group {
	margin-bottom: 25px;
}

/* ************** EVENT TASKS */
.vn-event-tasks {
}

.vn-task {
	background: #ffffff;
	padding: 24px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 2fr 2fr 1fr;
	grid-gap: 20px;
	align-items: flex-start;
	margin: 15px 0;
}

.vn-task button {
	align-self: flex-end;
	background: #e3e3e3;
	border-radius: 5px;
	border: none;
	color: #787878;
	padding: 13px 38px;
}

.vn-task img {
	border-radius: 15px;
}

.vn-task .info {
}

.nav-item.user {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 1;
}

.nav-item.user img {
	max-width: 15px;
	margin-right: 4px;
}

/* ************** ADMIN DASHBOARD */
.admin-controls {
	max-width: fit-content;
}

.admin-controls .btn {
	font-size: 14px;
	line-height: 19px;
	color: #111111;
	font-weight: 500;
	display: flex;
	align-items: center;
	padding: 10px;
}
.admin-controls .btn img {
	margin-right: 5px;
}
.admin-controls .btn:focus {
	color: var(--primary);
}

.admin-content {
	padding: 23px 18px;
	background: #ffffff;
	border-radius: 20px;
}
.admin-content table {
	width: 100%;
	border-collapse: collapse;
}
.admin-content table thead th {
	background: #f5f6fa;
}
.admin-content table th,
.admin-content table td {
	padding: 20px;
	font-size: 14px;
	line-height: 16px;
}
.admin-content table td {
	padding: 10px 20px;
}
.admin-content table th {
	color: #686868;
	font-weight: 400;
}
.admin-content table td {
	color: #000;
	font-weight: 500;
}
.admin-content table thead th:first-child {
	border-radius: 13px 0 0 13px;
}
.admin-content table thead th:last-child {
	border-radius: 0 13px 13px 0;
}

.admin-content table .btn {
	padding: 5px;
	padding-top: 3px;
}

.admin-add-event .btn {
	padding: 7px 25px;
	text-transform: capitalize;
}

.admin-add-event .admin-content {
	padding: 34px;
}
.admin-add-event label {
	font-weight: 600;
	font-size: 15px;
	line-height: 19px;
	color: #232323;
}
.admin-add-event .form-control {
	background: #ffffff;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	border-radius: 3.33333px;
	height: 40px;
	color: #000;
	font-size: 15px;
	font-weight: 500;
	line-height: 19px;
}

.admin-add-event .form-control::placeholder,
.admin-add-event .form-control::-webkit-datetime-edit {
	color: #c9c9c9;
}

.admin-add-event .form-control::-webkit-datetime-edit-fields-wrapper {
	color: #585858;
}
@media (max-width: 767px) {
	.admin-content {
		overflow-x: scroll;
	}
}
